 <launch>

   <!-- If you have more than one quad, this will need to be launched only once -->
  <include file="$(find vicon)/launch/vicon.launch">
  </include>  

  <!-- The Vicon Odometry Nodes -->
  <include file="$(find vicon_odom)/launch/ViconOdom.launch">
  	   <arg name="model" value="QuadrotorDelta" />
 </include>  

  <!-- These nodes subscribe ROS to IPC for communications from MATLAB -->
  <node pkg="ipc_asctec_msgs"
        name="asctec_PDCmd_subscriberD"
        type="asctec_PDCmd_subscriber"
        output="screen">
    <remap from="~topic" to="/asctecD/cmd_pd"/>
    <param name="message" value="cmd_pdD"/>
  </node>
 
 <arg name="camera" default="camera" />
   <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link4"
args="0 0 0 0 0 0 1  /$(arg camera)_link /world 100"/>
<node name="remote_ptamm" pkg="PTAMM_ros_KD" type="remote_ptamm" output="screen"/>
 <node name="ptamm_visualizer" pkg="PTAMM_ros_KD" type="ptamm_visualizer" output="screen"/>
<node name="dense_map_KD" pkg="dense_map_KD" type="dense_map_KD" output="screen">
  <rosparam file="$(find dense_map_KD)/Params_dense_map_KD.yaml"/>
  </node>
  
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find PTAMM_ros_KD)/PTAMM_ros_KD.rviz"/>
</launch>